@model sinpe_empresarial_aspnet.Models.Comercios

@{
    ViewBag.Title = "Editar Comercio";
}

<h2>Editar Comercio</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="IdComercio" />
    <input type="hidden" asp-for="Identificacion" />
    <input type="hidden" asp-for="TipoIdentificacion" />
    <input type="hidden" name="FechaDeRegistro" value="@Model.FechaDeRegistro.ToString("yyyy-MM-ddTHH:mm:ss")" />

    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text" class="form-control"
               placeholder="Ingrese el nombre"
               asp-for="Nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Tipo de Comercio</label>
        <select class="form-control" asp-for="TipoDeComercio">
            <option value="1">Restaurante</option>
            <option value="2">Supermercado</option>
            <option value="3">Ferretería</option>
            <option value="4">Otro</option>
        </select>
        <span asp-validation-for="TipoDeComercio" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Teléfono</label>
        <input type="text" class="form-control"
               placeholder="Ingrese el teléfono"
               asp-for="Telefono" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Correo Electrónico</label>
        <input type="text" class="form-control"
               placeholder="Ingrese el correo electrónico"
               asp-for="CorreoElectronico" />
        <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Dirección</label>
        <input type="text" class="form-control"
               placeholder="Ingrese la dirección"
               asp-for="Direccion" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Estado</label>
        <div class="form-group">
            <select class="form-control" name="Estado">
                @if (Model.Estado)
                {
                    <option value="true" selected>Activo</option>
                    <option value="false">Inactivo</option>
                }
                else
                {
                    <option value="true">Activo</option>
                    <option value="false" selected>Inactivo</option>
                }
            </select>
        </div>
    </div>

    <div class="mb-3">
        <a asp-action="Index" class="btn btn-danger" role="button">Cancelar</a>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>

</form>